Repository datarootsio/anomalib-demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

.pre-commit-config.yaml:

repos:
- repo: local
  hooks: 
  - id: databooks-meta
    name: databooks-meta
    description:
      "Remove Jupyter notebook metadata using `databooks`."
    entry: databooks meta --yes
    language: python
    minimum_pre_commit_version: 2.9.2
    types: [jupyter]
  - id: nbqa-flake8
    name: nbqa-flake8
    description: Run 'flake8' on a Jupyter Notebook
    entry: nbqa flake8
    language: python
    require_serial: true
    types_or: [jupyter, markdown]
    additional_dependencies: [flake8]
  - id: nbqa-black
    name: nbqa-black
    description: Run 'black' on a Jupyter Notebook
    entry: nbqa black
    language: python
    require_serial: true
    types_or: [jupyter, markdown]
  - id: nbqa-isort
    name: nbqa-isort
    description: Run 'isort' on a Jupyter Notebook
    entry: nbqa isort
    language: python
    require_serial: true
    types_or: [jupyter, markdown]
    additional_dependencies: [isort]
  - id: nbqa-pylint
    name: nbqa-pylint
    description: Run 'pylint' on a Jupyter Notebook
    entry: nbqa pylint
    language: python
    require_serial: true
    types_or: [jupyter, markdown]
    additional_dependencies: [pylint]

formatting changes
  .pre-commit-config.yaml
  anomalib_demo/anomalib_demo.ipynb
Due: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

no need to add package
  pyproject.toml
Due: none

adding jupyter
  poetry.lock
  pyproject.toml
Due: none

changing readme, moving notebook
  anomalib_demo.ipynb
  cfg/patchcore_config.yaml
Due: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

changing readme
  README.md
  blogpost/blogpost.md
Due: nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

small update to readme, pyproject file
  .flake8
  README.md
  pyproject.toml
Due: nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

README.md to README.MD
  README.MD
  README.md
Due: nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

changing paths
  anomalib_demo.ipynb
Due: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

updating paths in patchore cfg
  cfg/patchcore_config.yaml
Due: none

small rewrites to blogpost
  blogpost/blogpost.md
Due: nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

changes based on Raul's feedback
  blogpost/blogpost.md
Due: nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

small notebook updates
  anomalib_demo.ipynb
Due: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint

show outputs for all grades
  anomalib_demo.ipynb
Due: databooks-meta, nbqa-flake8, nbqa-black, nbqa-isort, nbqa-pylint
